
<% provide(:title, 'サービス概要') %>
<div class='pb-14 mt-14'>
  <h3 class='text-2xl tracking-widest text-green-600 text-center'></h3>
  <h1 class='mt-8 text-center text-5xl text-green-600 font-bold'>Karibitoとは？</h1>

  <!-- Box -->
  <div class='md:flex md:justify-center md:space-x-8 md:px-14'>
    <!-- box-1 -->
    <div class='mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0'>
      <div class='w-sm'>
        <img class='w-64' src='https://images01.nicepage.com/c461c07a441a5d220e8feb1a/a17abde8d83650a582a28432/users-with-speech-bubbles-vector_53876-82250.jpg' alt='' />
        <div class='mt-4 text-green-600 text-center'>
          <h1 class='text-xl font-bold'>サービス概要</h1>
          <p class='mt-4 text-gray-600'>Karibitoは狩猟のSNSサイトです!狩猟や鳥獣被害などを自由に話せる場をご用意させて頂きます!狩猟をしていなくても、狩猟に興味のある人はぜひご利用ください！利用規約は下記のリンクから確認できます!</p>
          <%= button_to '利用規約' ,term_path, method: :get, class: 'mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200' %>
        </div>
      </div>
    </div>

    <!-- box-2 -->
    <div class='mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0'>
      <div class='w-sm'>
        <img class='w-64' src='https://images01.nicepage.com/c461c07a441a5d220e8feb1a/3b242447f922540fbe750cab/fdf.jpg' alt='' />
        <div class='mt-4 text-green-600 text-center'>
          <h1 class='text-xl font-bold'>画像の取扱いについて</h1>
          <p class='mt-4 text-gray-600'>他のSNSでは獲物の写真をアップしただけで炎上する事があります。ですが、ご安心下さい! Karibitoでは投稿時、画像にカバーをかける機能を用意しています!詳細はよくある質問でご確認ください！</p>
          <%= button_to 'よくある質問' ,faq_path, method: :get, class: 'mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200' %>
        </div>
      </div>
    </div>

    <!-- box-3 -->
    <div class='mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0'>
      <div class='w-sm'>
        <img class='w-64' src='https://images01.nicepage.com/c461c07a441a5d220e8feb1a/8cc47b39e719570b996d9879/dsds.jpg' alt='' />
        <div class='mt-4 text-green-600 text-center'>
          <h1 class='text-xl font-bold'>無料登録するメリット</h1>
          <p class='mt-4 text-gray-600'>登録済みユーザーは次の機能を利用できます!</p>
          <ul>
          <li class='border-b'>日記の投稿</li>
          <li class='border-b'>DM機能</li> 
          </ul>
          <p class='text-gray-600'>登録がまだのユーザーは下記のリンクからユーザー登録をしましょう!</p>
          <%= button_to 'ユーザー登録' ,new_user_registration_path, method: :get, class: 'mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200' %>
        </div>
      </div>
    </div>
  </div>
</div> 