<div class="pb-72">

<h2>お問い合わせ</h2>

<ul class="Contact">
<li>お問い合わせフォームを作る?</li>
<li>GoogleFormと連携する? (page不要)</li>

</ul>

</div>


Karibitoにご訪問いただきありがとうございます。
まず初めに、皆様は狩猟についてどのようなイメージをお持ちでしょうか。狩猟を生業にしている人や、趣味で狩猟をされている人もいますが、狩猟が身近でない人がほとんどであり、イメージすることが難しいのではないでしょうか。
<br>
Karibitoでは狩猟の投稿、閲覧、また質問掲示板を通じてユーザ同士で情報交流ができる場をご用意させていただきます。
<br>

私がこのサイトを作成したのは、狩猟というものが社会でより認知されるべきだと考えたからです。
理由の一つとして、TwitterなどのSNSアプリでは狩猟関係の写真や動画が炎上することが時折起こっていました。
狩猟により息絶えた動物の写真などはグロテスク、残酷といった意見が飛び交うからです。ですが、私は狩猟も釣りと同じ形態であり、また釣りよりも環境保全としての貢献が大きいものだと考えております。

日本の狩猟免許交付数は1976年の52万件を境に減少し続け、2021年時点ではでは21万件となっています。また、免許の重複を踏まえると、狩猟者の実人口はおよそ15万ほどと推定されています。


</p>

<p>次のようなことができます</p>
<ul class="explanation">
<li>質問掲示板を使う</li>
<li>狩猟者の成果を見る</li>
<li>狩猟について理解を深める</li>
<li>狩猟者とコンタクトをとる</li>
</ul>

<br>

<p>ログインユーザーのみ次のことができます</p>
<ul class="explatation">
<li>フォロー機能</li>
<li>DM機能</li>
</ul>

<br>
Karibitoが狩猟をしていない人でも気軽に参加できるような場になるよう、改善を続けていきたいと考えております。
改善してほしい点など要望がございましたら、下記のリンクよりGoogleフォームの送信をよろしくお願い致します。

「お問い合わせリンクを貼る」

