<div class="pb-72">

<h2>よくある質問</h2>

<ul>
  <li>Q. ユーザー登録すると何ができますか?</li>
  <li>A. 無料でご登録いただくと、日記投稿やDM機能をご利用いただけます。</li>

  <li>Q. 投稿の仕方が分かりません</li>
  <li>A. こちらから投稿のマニュアルをご覧になれます。</li>
  
  <li>Q.画像のカバーのかけ方が分かりません。</li>
  <li>A. こちらでカバーのかけ方の詳細をご確認いただけます。</li>

  <li>Q.投稿された画像のカバーを外したい</li>
    <li>A. 画像をクリックしていただくと、カバーを外すことができます。また、設定でカバーをつけたままにすることや、カバーを外したままにする切替えができます。詳しくはこちらをご覧ください。</li>
  <li>
</ul>

</div>

<span>
<%# 消すこと %>
</span>
<span class="bg-orange-100"></span>
<span class="bg-orange-200"></span>
<span class="bg-orange-300"></span>
<span class="bg-orange-400"></span>
<span class="bg-orange-500"></span>
<span class="bg-orange-600"></span>
<span class="bg-orange-700"></span>
<span class="bg-orange-800"></span>
<span class="bg-orange-900"></span>
<span class="bg-orange-100"></span>

<span class="bg-red-200"></span>
<span class="bg-red-300"></span>
<span class="bg-red-400"></span>
<span class="bg-red-500"></span>
<span class="bg-red-600"></span>
<span class="bg-red-700"></span>
<span class="bg-red-800"></span>
<span class="bg-red-900"></span>

<span class="bg-green-100"></span>
<span class="bg-green-200"></span>
<span class="bg-green-300"></span>
<span class="bg-green-400"></span>
<span class="bg-green-500"></span>
<span class="bg-green-600"></span>
<span class="bg-green-700"></span>
<span class="bg-green-800"></span>
<span class="bg-green-900"></span>

<span class="bg-yellow-100"></span>
<span class="bg-yellow-200"></span>
<span class="bg-yellow-300"></span>
<span class="bg-yellow-400"></span>
<span class="bg-yellow-500"></span>
<span class="bg-yellow-600"></span>
<span class="bg-yellow-700"></span>
<span class="bg-yellow-800"></span>
<span class="bg-yellow-900"></span>

