<div class="pb-72">

<h2>よくある質問</h2>

<ul>
  <li>Q. ユーザー登録すると何ができますか?</li>
  <li>A. 無料でご登録いただくと、日記投稿やDM機能をご利用いただけます。</li>

  <li>Q. 投稿の仕方が分かりません</li>
  <li>A. こちらから投稿のマニュアルをご覧になれます。</li>
  
  <li>Q.画像のカバーのかけ方が分かりません。</li>
  <li>A. こちらでカバーのかけ方の詳細をご確認いただけます。</li>

  <li>Q.投稿された画像のカバーを外したい</li>
    <li>A. 画像をクリックしていただくと、カバーを外すことができます。また、設定でカバーをつけたままにすることや、カバーを外したままにする切替えができます。詳しくはこちらをご覧ください。</li>
  <li>
</ul>

</div>