<div class="pb-72">



<h2>よくある質問</h2>

<ul>
  <li>Q. ユーザー登録すると何ができますか?</li>
  <li>A. 無料でご登録いただくと、日記投稿やDM機能をご利用いただけます。</li>

  <li>Q. 投稿の仕方が分かりません</li>
  <li>A. こちらから投稿のマニュアルをご覧になれます。</li>
  
  <li>Q.画像のカバーのかけ方が分かりません。</li>
  <li>A. こちらでカバーのかけ方の詳細をご確認いただけます。</li>

  <li>Q.投稿された画像のカバーを外したい</li>
    <li>A. 画像をクリックしていただくと、カバーを外すことができます。また、設定でカバーをつけたままにすることや、カバーを外したままにする切替えができます。詳しくはこちらをご覧ください。</li>
  <li>
</ul>

</div>

<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>



<span>
<%# 消すこと %>
</span>
<span class="bg-orange-100"></span>
<span class="bg-orange-200"></span>
<span class="bg-orange-300"></span>
<span class="bg-orange-400"></span>
<span class="bg-orange-500"></span>
<span class="bg-orange-600"></span>
<span class="bg-orange-700"></span>
<span class="bg-orange-800"></span>
<span class="bg-orange-900"></span>
<span class="bg-orange-100"></span>

<span class="bg-red-200"></span>
<span class="bg-red-300"></span>
<span class="bg-red-400"></span>
<span class="bg-red-500"></span>
<span class="bg-red-600"></span>
<span class="bg-red-700"></span>
<span class="bg-red-800"></span>
<span class="bg-red-900"></span>

<span class="bg-green-100"></span>
<span class="bg-green-200"></span>
<span class="bg-green-300"></span>
<span class="bg-green-400"></span>
<span class="bg-green-500"></span>
<span class="bg-green-600"></span>
<span class="bg-green-700"></span>
<span class="bg-green-800"></span>
<span class="bg-green-900"></span>

<span class="bg-yellow-100"></span>
<span class="bg-yellow-200"></span>
<span class="bg-yellow-300"></span>
<span class="bg-yellow-400"></span>
<span class="bg-yellow-500"></span>
<span class="bg-yellow-600"></span>
<span class="bg-yellow-700"></span>
<span class="bg-yellow-800"></span>
<span class="bg-yellow-900"></span>

<span class="bg-amber-100"></span>
<span class="bg-amber-200"></span>
<span class="bg-amber-300"></span>
<span class="bg-amber-400"></span>
<span class="bg-amber-500"></span>
<span class="bg-amber-600"></span>
<span class="bg-amber-700"></span>
<span class="bg-amber-800"></span>
<span class="bg-amber-900"></span>

<span class="bg-lime-100"></span>
<span class="bg-lime-200"></span>
<span class="bg-lime-300"></span>
<span class="bg-lime-400"></span>
<span class="bg-lime-500"></span>
<span class="bg-lime-600"></span>
<span class="bg-lime-700"></span>
<span class="bg-lime-800"></span>
<span class="bg-lime-900"></span>

<span class="bg-green-100"></span>
<span class="bg-green-200"></span>
<span class="bg-green-300"></span>
<span class="bg-green-400"></span>
<span class="bg-green-500"></span>
<span class="bg-green-600"></span>
<span class="bg-green-700"></span>
<span class="bg-green-800"></span>
<span class="bg-green-900"></span>

<span class="bg-emerald-100"></span>
<span class="bg-emerald-200"></span>
<span class="bg-emerald-300"></span>
<span class="bg-emerald-400"></span>
<span class="bg-emerald-500"></span>
<span class="bg-emerald-600"></span>
<span class="bg-emerald-700"></span>
<span class="bg-emerald-800"></span>
<span class="bg-emerald-900"></span>

<span class="bg-teal-100"></span>
<span class="bg-teal-200"></span>
<span class="bg-teal-300"></span>
<span class="bg-teal-400"></span>
<span class="bg-teal-500"></span>
<span class="bg-teal-600"></span>
<span class="bg-teal-700"></span>
<span class="bg-teal-800"></span>
<span class="bg-teal-900"></span>

<span class="bg-rose-100"></span>
<span class="bg-rose-200"></span>
<span class="bg-rose-300"></span>
<span class="bg-rose-400"></span>
<span class="bg-rose-500"></span>
<span class="bg-rose-600"></span>
<span class="bg-rose-700"></span>
<span class="bg-rose-800"></span>
<span class="bg-rose-900"></span>


slate
<span class="bg-slate-100"></span>
<span class="bg-slate-200"></span>
<span class="bg-slate-300"></span>
<span class="bg-slate-400"></span>
<span class="bg-slate-500"></span>
<span class="bg-slate-600"></span>
<span class="bg-slate-700"></span>
<span class="bg-slate-800"></span>
<span class="bg-slate-900"></span>
gray
<span class="bg-gray-100"></span>
<span class="bg-gray-200"></span>
<span class="bg-gray-300"></span>
<span class="bg-gray-400"></span>
<span class="bg-gray-500"></span>
<span class="bg-gray-600"></span>
<span class="bg-gray-700"></span>
<span class="bg-gray-800"></span>
<span class="bg-gray-900"></span>
zinc
<span class="bg-zinc-100"></span>
<span class="bg-zinc-200"></span>
<span class="bg-zinc-300"></span>
<span class="bg-zinc-400"></span>
<span class="bg-zinc-500"></span>
<span class="bg-zinc-600"></span>
<span class="bg-zinc-700"></span>
<span class="bg-zinc-800"></span>
<span class="bg-zinc-900"></span>
neutral
<span class="bg-neutral-100"></span>
<span class="bg-neutral-200"></span>
<span class="bg-neutral-300"></span>
<span class="bg-neutral-400"></span>
<span class="bg-neutral-500"></span>
<span class="bg-neutral-600"></span>
<span class="bg-neutral-700"></span>
<span class="bg-neutral-800"></span>
<span class="bg-neutral-900"></span>
stone
<span class="bg-stone-100"></span>
<span class="bg-stone-200"></span>
<span class="bg-stone-300"></span>
<span class="bg-stone-400"></span>
<span class="bg-stone-500"></span>
<span class="bg-stone-600"></span>
<span class="bg-stone-700"></span>
<span class="bg-stone-800"></span>
<span class="bg-stone-900"></span>

width,height
<span class="h-0.5"></span>
<span class="h-1"></span>
<span class="h-2"></span>
<span class="h-3"></span>
<span class="h-4"></span>
<span class="h-5"></span>
<span class="h-6"></span>
<span class="h-7"></span>
<span class="h-8"></span>
<span class="h-9"></span>
<span class="h-10"></span>
<span class="h-12"></span>
<span class="h-14"></span>
<span class="h-16"></span>
<span class="h-18"></span>

<span class="w-0.5"></span>
<span class="w-1"></span>
<span class="w-2"></span>
<span class="w-3"></span>
<span class="w-4"></span>
<span class="w-5"></span>
<span class="w-6"></span>
<span class="w-7"></span>
<span class="w-8"></span>
<span class="w-9"></span>
<span class="w-10"></span>
<span class="w-12"></span>
<span class="w-14"></span>
<span class="w-16"></span>
<span class="w-18"></span>


<span class="t-0.5"></span>
<span class="t-1"></span>
<span class="t-2"></span>
<span class="t-3"></span>
<span class="t-4"></span>
<span class="t-5"></span>
<span class="t-6"></span>
<span class="t-7"></span>
<span class="t-8"></span>
<span class="t-9"></span>
<span class="t-10"></span>
<span class="t-12"></span>
<span class="t-14"></span>
<span class="t-16"></span>
<span class="t-18"></span>


<span class="b-0.5"></span>
<span class="b-1"></span>
<span class="b-2"></span>
<span class="b-3"></span>
<span class="b-4"></span>
<span class="b-5"></span>
<span class="b-6"></span>
<span class="b-7"></span>
<span class="b-8"></span>
<span class="b-9"></span>
<span class="b-10"></span>
<span class="b-12"></span>
<span class="b-14"></span>
<span class="b-16"></span>
<span class="b-18"></span>


<span class="r-0.5"></span>
<span class="r-1"></span>
<span class="r-2"></span>
<span class="r-3"></span>
<span class="r-4"></span>
<span class="r-5"></span>
<span class="r-6"></span>
<span class="r-7"></span>
<span class="r-8"></span>
<span class="r-9"></span>
<span class="r-10"></span>
<span class="r-12"></span>
<span class="r-14"></span>
<span class="r-16"></span>
<span class="r-18"></span>


<span class="l-0.5"></span>
<span class="l-1"></span>
<span class="l-2"></span>
<span class="l-3"></span>
<span class="l-4"></span>
<span class="l-5"></span>
<span class="l-6"></span>
<span class="l-7"></span>
<span class="l-8"></span>
<span class="l-9"></span>
<span class="l-10"></span>
<span class="l-12"></span>
<span class="l-14"></span>
<span class="l-16"></span>
<span class="l-18"></span>


<span class="mt-0.5"></span>
<span class="mt-1"></span>
<span class="mt-2"></span>
<span class="mt-3"></span>
<span class="mt-4"></span>
<span class="mt-5"></span>
<span class="mt-6"></span>
<span class="mt-7"></span>
<span class="mt-8"></span>
<span class="mt-9"></span>
<span class="mt-10"></span>
<span class="mt-12"></span>
<span class="mt-14"></span>
<span class="mt-16"></span>
<span class="mt-18"></span>


<span class="mb-0.5"></span>
<span class="mb-1"></span>
<span class="mb-2"></span>
<span class="mb-3"></span>
<span class="mb-4"></span>
<span class="mb-5"></span>
<span class="mb-6"></span>
<span class="mb-7"></span>
<span class="mb-8"></span>
<span class="mb-9"></span>
<span class="mb-10"></span>
<span class="mb-12"></span>
<span class="mb-14"></span>
<span class="mb-16"></span>
<span class="mb-18"></span>


<span class="mr-0.5"></span>
<span class="mr-1"></span>
<span class="mr-2"></span>
<span class="mr-3"></span>
<span class="mr-4"></span>
<span class="mr-5"></span>
<span class="mr-6"></span>
<span class="mr-7"></span>
<span class="mr-8"></span>
<span class="mr-9"></span>
<span class="mr-10"></span>
<span class="mr-12"></span>
<span class="mr-14"></span>
<span class="mr-16"></span>
<span class="mr-18"></span>

<span class="ml-0.5"></span>
<span class="ml-1"></span>
<span class="ml-2"></span>
<span class="ml-3"></span>
<span class="ml-4"></span>
<span class="ml-5"></span>
<span class="ml-6"></span>
<span class="ml-7"></span>
<span class="ml-8"></span>
<span class="ml-9"></span>
<span class="ml-10"></span>
<span class="ml-12"></span>
<span class="ml-14"></span>
<span class="ml-16"></span>
<span class="ml-18"></span>

<span class="pt-0.5"></span>
<span class="pt-1"></span>
<span class="pt-2"></span>
<span class="pt-3"></span>
<span class="pt-4"></span>
<span class="pt-5"></span>
<span class="pt-6"></span>
<span class="pt-7"></span>
<span class="pt-8"></span>
<span class="pt-9"></span>
<span class="pt-10"></span>
<span class="pt-12"></span>
<span class="pt-14"></span>
<span class="pt-16"></span>
<span class="pt-18"></span>

<span class="pb-0.5"></span>
<span class="pb-1"></span>
<span class="pb-2"></span>
<span class="pb-3"></span>
<span class="pb-4"></span>
<span class="pb-5"></span>
<span class="pb-6"></span>
<span class="pb-7"></span>
<span class="pb-8"></span>
<span class="pb-9"></span>
<span class="pb-10"></span>
<span class="pb-12"></span>
<span class="pb-14"></span>
<span class="pb-16"></span>
<span class="pb-18"></span>

<span class="pr-0.5"></span>
<span class="pr-1"></span>
<span class="pr-2"></span>
<span class="pr-3"></span>
<span class="pr-4"></span>
<span class="pr-5"></span>
<span class="pr-6"></span>
<span class="pr-7"></span>
<span class="pr-8"></span>
<span class="pr-9"></span>
<span class="pr-10"></span>
<span class="pr-12"></span>
<span class="pr-14"></span>
<span class="pr-16"></span>
<span class="pr-18"></span>

<span class="pl-0.5"></span>
<span class="pl-1"></span>
<span class="pl-2"></span>
<span class="pl-3"></span>
<span class="pl-4"></span>
<span class="pl-5"></span>
<span class="pl-6"></span>
<span class="pl-7"></span>
<span class="pl-8"></span>
<span class="pl-9"></span>
<span class="pl-10"></span>
<span class="pl-12"></span>
<span class="pl-14"></span>
<span class="pl-16"></span>
<span class="pl-18"></span>

<span class="p-0.5"></span>
<span class="p-1"></span>
<span class="p-2"></span>
<span class="p-3"></span>
<span class="p-4"></span>
<span class="p-5"></span>
<span class="p-6"></span>
<span class="p-7"></span>
<span class="p-8"></span>
<span class="p-9"></span>
<span class="p-10"></span>
<span class="p-12"></span>
<span class="p-14"></span>
<span class="p-16"></span>
<span class="p-18"></span>

<span class="m-0.5"></span>
<span class="m-1"></span>
<span class="m-2"></span>
<span class="m-3"></span>
<span class="m-4"></span>
<span class="m-5"></span>
<span class="m-6"></span>
<span class="m-7"></span>
<span class="m-8"></span>
<span class="m-9"></span>
<span class="m-10"></span>
<span class="m-12"></span>
<span class="m-14"></span>
<span class="m-16"></span>
<span class="m-18"></span>


<span class="pl-0.5"></span>
<span class="pl-1"></span>
<span class="pl-2"></span>
<span class="pl-3"></span>
<span class="pl-4"></span>
<span class="pl-5"></span>
<span class="pl-6"></span>
<span class="pl-7"></span>
<span class="pl-8"></span>
<span class="pl-9"></span>
<span class="pl-10"></span>
<span class="pl-12"></span>
<span class="pl-14"></span>
<span class="pl-16"></span>
<span class="pl-18"></span>





