<% provide(:title, 'よくある質問') %>
<div>
  <section>
    <div class='grid grid-cols-1 px-5 mt-14 mx-auto animate-fade-in'>
      <div class='text-center mb-10'>
        <h2 class='font-bold text-center mb-4'>
          よくある質問
        </h2>
      </div>
      <div class='flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2'>
        <div class='w-full px-4 py-2'>
          <details class='mb-4'>
            <summary class='font-semibold bg-gray-200 rounded-md py-2 px-4 mb-1'>
              ユーザー登録すると何ができますか?
            </summary>
            <span>
              無料でご登録いただくと、主に次のような操作が可能となります。
              <div class='grid grid-cols-1 mx-6 py-3'>
                <ul>
                  <li class='text-sm font-semibold'>日記の投稿, コメント</li>
                  <li class='text-sm font-semibold'>ユーザー一覧, フォロー機能</li>
                  <li class='text-sm font-semibold'>マイページ</li>
                  <li class='text-sm font-semibold'>掲示板投稿の編集および削除</li>
                </ul>
              </div>
            </span>
          </details>
          <details class='mb-4'>
            <summary class='font-semibold bg-gray-200 rounded-md py-2 px-4 mb-1'>
              画像のカバーのかけ方が分かりません。
            </summary>
            <span>
              投稿フォームの一番下にある、以下のチェックボックス(下図)をオンにしてから投稿してください。
            </span>
            <div class='flex justify-center items-center py-3'>
              <p class='text-sm font-semibold mr-2'>画像カバー(センシティブな画像を含む)</p>
              <input type='checkbox' class= 'justify-self-end w-6 h-6 mr-4'>
            </div>
          </details>
          <details class='mb-4'>
            <summary class='font-semibold bg-gray-200 rounded-md py-2 px-4 mb-1'>
              投稿された画像のカバーを外したい。
            </summary>
            <span>
              画像をクリックしていただくと、カバーを外すことができます。また、再びクリックすることでカバーをかけることができます。
            </span>
          </details>
        </div>
      </div>
      <div class='text-center mb-20'>
        <p class='text-sm font-medium leading-relaxed w-3/4 xl:w-2/4 lg:w-3/4 mx-auto'>
          その他、ご不明点や要望などございましたら、<%= link_to 'お問い合わせ', 'https://forms.gle/Z8WNE7HpJw3NnH8F6', class: 'inline-flex text-blue-500 hover:underline hover:underline-offset-2' %> からご意見をお聞かせください。
        </p>
      </div>
    </div>
  </section>
</div>