<div class="pb-72">

<h1>Karibito</h1>

<p> Karibitoとは?</p>
<ul>
  <li>猟師向けのSNSアプリです。</li>
  <li>狩猟マップを利用して地域別の狩猟成果を見ることができます。</li>
  <li>まずはゲストログインで気軽にアプリを使ってみましょう！</li>
</ul>
[ゲストログインのボタンを作る]

</div>