<div class="pb-72">

<h1>狩猟日記</h1>

<h2>投稿した日記の一覧表示(横スクロール)</h2>

<button>もっと見る</button>
<br>
<br>

<h2>いいね数の多いユーザーの一覧表示(横スクロール)</h2>
<br>

<h1>質問掲示板</h1>

<h2>投稿した質問の一覧表示(横スクロール)</h2>

<button>もっと見る</button>


</div>