<% provide(:title, "アカウント情報") %>


<p>パスワード変更</p>
<%= link_to 'パスワード変更',new_user_password_path(current_user) %>
<h2>退会お手続き</h2>
 <p>

  <%= button_to "退会する", user_registration_path, { method: :delete, form: { data: { turbo_confirm: "再度ご利用いただく場合には、新規登録のお手続きが必要となります。本当に退会しますか？" } } } %>

<%= link_to :back, class: "inline-flex items-center h-6 w-14 px-1 py-4 ml-6 my-2 rounded-lg dark:text-white dark:bg-gray-600 border dark:hover:text-gray-900 focus:outline-none no-tap-highlighting" do %>
  <p class="text-xs font-semibold">戻る</p>
  <%= image_tag("Uターン矢印 1.png", class: "w-4 h-4 ml-0.5 -mt-0.5") %>
<% end %>
