<% if followers %>
  <p class='text-md font-black underline underline-offset-4' id='follower_count'><%= followers.count %></p>
<% else %>
  <p class='text-md font-black underline underline-offset-4' id='follower_count'>0</p>
<% end %>