<div class='flex w-full flex-col justify-center items-center mb-48 ' id='no_notification'>
  <span class ='relative'>
    <div class='h-36 w-36 bg-white rounded-full -ml-1.5 '></div>
    <%= image_tag 'ojigi_animal_neko.jpg', class:' absolute top-6 left-4 z-10 w-24 h-28 p-4' %>
  </span>
  <p class='font-medium py-2'>新着の通知はありません。</p>
</div>