<div class="flex items-center relative border-b pt-2 pb-4 px-3 mb-1 bg-white">
  <div class="flex justify-start items-cneter">
    <div class="no-tap-highlighting mr-2">
      <%= notification_avatar_link(notification) %>
    </div>
  </div>
  <%= notification_form(notification) %>
  <p class="absolute right-1 bottom-1 w-20 text-xs text-slate-400"><%= how_long_ago(notification) %></p>

</div>