<div class="grid grid-cols-1 justify-center bg-neutral-100 px-2 py-3 border-8 border-white">
  <div class="grid grid-cols-1 justify-center bg-white">
    <h2 class="inline-flex justify-self-center font-bold my-6">通知一覧</h2>
      <% if @notifications.exists? %>
        <%= render partial: "notification_content", locals:{notifications: @notifications} %>
      <% else %>
        <%= render "no_notification" %>
      <% end %>
  </div>
</div>
