<% if flash[:notice] %>
    <p class="px-6 py-4 bg-blue-50 rounded-lg text-blue-500"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
    <p class="px-6 py-4 bg-blue-50 rounded-lg text-blue-500"><%= alert %></p>
<% end %>