<div class="w-full bg-white top-0 fixed h-14 z-50">
        <%= link_to "Karibito", root_path, class:"text-xl md:text-2xl block absolute top-3 left-14 md:left-16 font-semibold no-tap-highlighting" %>
        <%= link_to image_tag('Karibito_logo.png', class:'w-10 md:w-12 absolute top-1 left-3 no-tap-highlighting'), root_path %>
        <div data-sidebar-target="hamburger" data-action="click->sidebar#sidebarToggle" data-expanded="0">
            <nav class="hamburger fixed z-50">
                <span data-sidebar-target="line1" class="inner_line top-0"></span>
                <span data-sidebar-target="line2"  class="inner_line top-2.5"></span>
                <span data-sidebar-target="line3"  class="inner_line bottom-0"></span>
            </nav>
        </div>
</div>