
<h2>Karibitoとは?</h2>
<p>狩猟に関する質問投稿サイトです</p>
<p>次のようなことができます</p>
<ul class="explanation">
<li class="txt">質問を投稿する</li>
<li class="txt">狩猟者の成果を見る</li>
<li class="txt">狩猟について理解を深める</li>
<li class="txt">狩猟者とコンタクトをとる</li>
</ul>