<h1><%= @user.name %>さんのページです</h1>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>





<p>実装予定</p>
<ul>
  <li>プロフィール表示</li>
  <li>自分の投稿を表示</li>
  <li>feed?</li>
</ul>