/* CSSフレームワークと関連するSprocketsの読み込み */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
},
@layer components {
  .hamburger {
    @apply z-40 block absolute top-4 right-3.75 w-6.25 h-5.5 cursor-pointer transition duration-600;
  }
  .inner_line {
    @apply block absolute right-0 w-6.25 h-0.5 bg-white duration-600 rounded;
  }
}

  /* ハンバーガーメニューのモーション */

.in{
  transform: translateX(-100%);
}

.line_1,.line_2,.line_3{
  background: #000000;
}

.line_1 {
  transform: translateY(10px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-10px) rotate(45deg);
  bottom: 0;
}



