<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="flex justify-between shadow-sm rounded-full">
      <form class="p-3 m-3 rounded-lg bg-blue-100">
        <input type="text" class="rounded-xl p-1" placeholder="test@example.com"/>
        <button class="flex-end bg-blue-400 rounded-3xl text-center px-2 py-1">submit</button>
      </form>
    </div>
  </body>
</html>