

<div class="flex justify-between shadow-sm rounded-full">
  <form class="p-3 m-3 rounded-lg bg-blue-100">
    <input type="text" class="rounded-xl p-1" placeholder="test@example.com"/>
    <button class="flex-end bg-blue-400 rounded-3xl text-center px-2 py-1">submit</button>
  </form>
</div>


<body>
  <button class="w-24 m-4 p-4 rounded-sm bg-red-500 text-center text-white">テスト</button>
</body>

<body>
  <div class="p-2 m-2 text-teal-700 bg-teal-100">tealのテスト</div>
  <div class="p-2 m-2 text-hobby-100 bg-hobby-200">hobbyのテスト</div>
  <div class="p-2 m-2 text-hobby-300 bg-hobby-400">hobbyのテスト</div>
</body>


<body>
  <button class="w-24 m-4 p-4 rounded-sm bg-red-500 text-center text-white">テスト</button>
  <button class="btn">@apply</button>
</body>