  
  
  <div>Karibitoのパスワード再設定のご案内</div>
  <br>
  <div><%= @user.name %>様</div>
  <br>
  <div>日頃よりKaribitoをご利用いただき、誠にありがとうございます。</div>
  <br>
  <div><%= @user.name %>様は現在、パスワード再設定の手続き中です。</div>
  <br>
  <div>以下のリンクからパスワードの再設定を完了してください。</div>
  <br>
  <div><%= link_to 'パスワードの再設定', edit_password_url(@user, reset_password_token: @token)%></div>
  <br>
  <div> このURLの有効期限は24時間です。</div>
  <br>
  <div>引き続きKaribitoをよろしくお願いいたします。</div>